/*
  This file is part of the photogenic theme.
*/

body
{
  font-size: medium;
  font-family: Arial, Times, sans-serif;
  color: black;
  background: #bbc;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;

  margin-left: 25%;
  margin-right: 5%;
}

img                 { border:0; }
a                   { text-decoration: none; color: black; }
a:hover             { text-decoration: underline}

/* Used throughout */
.alert              { color: red; }
.administrative     { border: 2px solid rgb(200,0,0); margin: 5px  }
.info               { font-style: italic; } /* Used to provide help */
div.context         { padding: 0 0 0 1em }
div.context2        { padding: 0 0 0.5em 1em; font-style: italic}

/* used in TitleBar */
div#titlebar        { position:fixed; left:0; top: 0; width:20%; height:100%; background: #ddd; }
h1#title         { font-size: x-large; border-bottom: 1px solid #778; font-variant: small-caps}
font#titlebar-caption { font-size: x-small; }
div#titlebar ul      { font-size: small; padding:0; text-align: left; margin:0}
div#titlebar ul li   { list-style: none; margin: 2px; border:1px solid; border-color:#ddd #aaa #aaa #ddd;}
div#titlebar ul li a { display: block; padding: 0.25em 0.5em 0.25em 0.75em; background: #fff                       url(images/extra-titlebar.gif) 10px 50% repeat-x; color:#106;}
ul#titlebar li a:hover { border-left: 0.5em solid #227; background: #fff; padding: 0.25em 0.5em 0.25em 0.25em;}

/* used in Grid */
table.grid           { background: #ddf }
table.grid td        { font-size: small;}

/* used in Section */
div.section
{ 
  font-size:large; 
  text-decoration:underline; 
  padding: 0.25em 0.5em 0.25em 0.75em; 
  border-left: 1em solid #112; 
  background: #335; 
  margin-top: 1em;
  margin-bottom: 0.25em;
  color: white;
}
div.section a { color: white}

/* used in MultiSection, from http://css.maxdesign.com.au/listamatic/horizontal05.htm */
#multisection
{
  padding: 3px 0;
  /*margin-left: 0;*/
  margin-top: 1em;
  border-bottom: 1px solid #777788;
  font: bold 12px Verdana, sans-serif;
}
#multisection li
{
  list-style: none;
  margin: 0;
  display: inline;
}
#multisection li a
{
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #778;
  background: #335;
  text-decoration: none;
  color: #DDF;
}
#multisection li a:hover
{
  color: #000;
  background: #AAE;
  border-color: #227;
}
#multisection li a#current
{
  background: #112;
  border-bottom: 1px solid #112;
}
#multisection li a#current:hover
{
  color: #000;
  background: #AAE;
  border-color: #227;
}

/* used in PageSelector, from: http://digg.com */
.pageselector {
    padding: 1em 1em 2em 1em;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    clear: left;
    font-size: 85%;
}

.pageselector a, .pageselector span {
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #112;
}

.pageselector span.current {
    border: 1px solid #06c;
    font-weight: bold;
    background: #669;
    color: #fff;
}

.pageselector a {
    border: 1px solid #9AAFE5;
    text-decoration: none;
    color: white;
}

.pageselector a:hover {
    border-color: #77a;
}

.pageselector a.nextprev {
    font-weight: bold;
}

.pageselector span.nextprev {
        border: 1px solid #ddd;
        color: #669;
}



