DirectoryIndex index.php
Options -Indexes +MultiViews

php_value post_max_size 20971520
php_value upload_max_filesize 20971520

<Files ~ ".inc">
Order allow,deny
Deny from all
</Files>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteRule ^(.*)?photos/([^/]+)/(\d+)-(\d+)\. $1media.php?format=$2&id=$3&ver=$4
</IfModule>


#<Files ~ jpg>
#Order allow,deny
#Deny from All
#</Files>
