DirectoryIndex index.php
Options -Indexes +MultiViews

php_value post_max_size 20971520
php_value upload_max_filesize 20971520

<Files ~ ".inc">
Order allow,deny
Deny from all
</Files>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^(.*)photos/(\d+) $1photo.php?id=$2&%{QUERY_STRING}
RewriteRule ^(.*)photos/([^/]+)/(\d+)-(\d+)\. $1modules/photostore/local/media.php?format=$2&id=$3&ver=$4
RewriteRule ^(.*)photos/([^/]+)/(\d+)\. $1modules/photostore/local/media.php?format=$2&id=$3&ver=%{QUERY_STRING}
RewriteRule ^(.*)folders/(.*) $1folder.php?path=$2
RewriteRule ^(.*)albums/(\d+) $1album.php?id=$2&%{QUERY_STRING}
RewriteRule ^(.*)topics/(.+) $1topic.php?name=$2
#
# Note: these rewrites affect photo.class.php, who analyzes the HTTP referer
#
</IfModule>


#<Files ~ jpg>
#Order allow,deny
#Deny from All
#</Files>
