body {
	background: #f0f0f0;
}

div#header, p, h2, table, ol, ul, h3 {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}

div#header {
	background: #d8d8d8;
	padding: 1em;
	border-top: 0.5em solid gray;
	border-bottom: 0.5em solid gray;
}

h1 {
	text-align: center;
}

h2 {
	text-indent: 20px;
	border-left: .75em solid gray;
	background: #d8d8d8;
	font-size: large;
	padding: 0.25em 0;
}

img {
	border: 0;
}

.alert {
	color: red;
}

table {
	background: #f2f2ff;
	border: 0.5em solid #ccf;
}

th {
	background: #ddf;
	font-family: sans-serif;
	border: none;
}

td {
	border: none;
}

tr:nth-child(even) {
	background: #ddf;
}

