body {
  width: 700px; 
  margin-left: auto; 
  margin-right: auto;
}

h1 { border: 2px solid black; background: #eeeeee; padding: 0 0.5em}

h2 { border: 1px solid black; background: #eeeeee; padding: 0 0.5em}

.pagelink { border: 2px solid #777; padding: 0.25em 2em; margin: 1em auto; display: block; font-size: x-large; cursor:pointer }

.pagelink:hover { border: 2px solid black; background: #bfb}

pre.code
{
  margin: 1em 6em 1em 6em;
  border: 1px solid #888888;
  background: $dddddd;
  font-size: small;
  padding: 1em;
}

p.important
{
  border: 1px solid gray;
  background: yellow;
  color: black;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
