/* Used all over */

img
{
  border:0;
}

a
{
  color: black;
  text-decoration:none;
}


body
{
  font-size: 12pt;
  font-family: Arial, Times, sans-serif;
  color: black;
  background: url("images/background") black;
  background-repeat: repeat;
  /*background-attachment: fixed;*/
}

font.alert
{
  color: red;
}

td.administrative
{
  border: 2px solid rgb(200,0,0)
}

p.info
{
  font-style: italic;
}

/* used in html_title_bar */

td.title-topleft {background: url("images/title-topleft");}
td.title-top {background: url("images/title-top"); background-repeat:repeat-x;}
td.title-topright {background: url("images/title-topright");}
td.title-left {background: url("images/title-left"); background-repeat:repeat-y}
td.title-menu {background: white;}
td.title-right {background: url("images/title-right"); background-repeat:repeat-y}
td.title-bottomleft {background: url("images/title-bottomleft");}
td.title-bottom {background: url("images/title-bottom"); background-repeat:repeat-x;}
td.title-bottomright {background: url("images/title-bottomright");}

font.title
{
  color: white;
  font-size: 14pt;
}

font.title-caption
{
  color:black;
  font-size: 9pt;
}

a.menu-item
{
  color:black;
  font-size: 9pt;
}

/* used in html_grid */

table.grid
{
}

td.thumbnail
{
  /*border: solid;
  border-width: 1px;
  border-color: #666677;
  background: #8888aa;*/
  color: white;
  font-size: 9pt;
}

/* used in html_section */

font.section
{
  color: white;
  font-size: 13pt;
  font-weight: bold;
}

/* used in html_multi_section */

font.multi-section
{
  color: black;
  font-size: 13pt;
}

table.multi-section
{
  border:1px solid #666666;
  background:white;
  color:black;
}

td.multi-section-tab
{
  background:url("images/multisection-bg");
  white-space: nowrap;
}

td.section-selected
{
  color: black;
  background: #aaaaaa;
  border: 1px solid #666666;
  white-space: nowrap;
}

td.section-unselected
{
  border:1px solid #666666;
  color: black;
}



